{
  "stats": {
    "STR": {
      "value": 0,
      "type": "ability",
      "section": "abilities",
      "expression": "floor ((STR-score - 10) / 2)"
    },

    "STR-score": {
      "value": 10,
      "type": "number",
      "hidden": true,
      "parent": "STR"
    },

    "DEX": {
      "value": 0,
      "type": "ability",
      "section": "abilities",
      "expression": "floor ((DEX-score - 10) / 2)"
    },

    "DEX-score": {
      "value": 10,
      "type": "number",
      "hidden": true,
      "parent": "DEX"
    },

    "CON": {
      "value": 0,
      "type": "ability",
      "section": "abilities",
      "expression": "floor ((CON-score - 10) / 2)"
    },

    "CON-score": {
      "value": 10,
      "type": "number",
      "hidden": true,
      "parent": "CON"
    },

    "INT": {
      "value": 0,
      "type": "ability",
      "section": "abilities",
      "expression": "floor ((INT-score - 10) / 2)"
    },

    "INT-score": {
      "value": 10,
      "type": "number",
      "hidden": true,
      "parent": "INT"
    },

    "WIS": {
      "value": 0,
      "type": "ability",
      "section": "abilities",
      "expression": "floor ((WIS-score - 10) / 2)"
    },

    "WIS-score": {
      "value": 10,
      "type": "number",
      "hidden": true,
      "parent": "WIS"
    },

    "CHA": {
      "value": 0,
      "type": "ability",
      "section": "abilities",
      "expression": "floor ((CHA-score - 10) / 2)"
    },

    "CHA-score": {
      "value": 10,
      "type": "number",
      "hidden": true,
      "parent": "CHA"
    },

  {% for t in throws %}
    "{{t.name}}": {
      "value": 0,
      "type": "{{t.type}}",
      "section": "{{t.section}}",
      "roll": "{{t.roll}}"
    },
  {%endfor%}
    "hit-points-maximum": {
      "value": 20,
      "section": "info",
      "type": "number",
      "hidden": true,
      "parent": "hit-points"
    },
    "hit-points": {
      "value": 20,
      "section": "info",
      "type": "health",
      "local": true
    },
    "AC": {
      "value": 16,
      "type": "number",
      "section": "info"
    },
    "level": {
      "value": 2,
      "section": "info",
      "type": "number"
    }
  },

  "info": {
    "description": "",
    "notes": "",
    "sections": [
      {
        "name": "abilities",
        "position": "left",
        "tab": 1
      },

      {
        "name": "info",
        "position": "left",
        "tab": 1
      },

      {
        "name": "details",
        "position": "left",
        "tab": 3
      },

      {
        "name": "saving-throws",
        "position": "right",
        "tab": 2
      },

      {
        "name": "perception",
        "position": "right",
        "tab": 2
      },

      {
        "name": "skills",
        "position": "right",
        "tab": 2
      },

      {
        "name": "talents",
        "position": "bottom",
        "tab": 4,
        "savedMessages": true
        },
      {
        "name": "actions",
        "position": "bottom",
        "tab": 4,
        "savedMessages": true
      },
      {
        "name": "spells",
        "position": "bottom",
        "tab": 4,
        "savedMessages": true
      }
    ]
  },
  "appearances": [
    "https://tableplop-files-prod.nyc3.cdn.digitaloceanspaces.com/4a8f962abcddd0d7be0da0d2c6700061.png",
    "https://tableplop-files-prod.nyc3.cdn.digitaloceanspaces.com/505cd0a772c8f0de75f52886ea33ec83.png"
  ],
  "savedMessages": [
    {
      "name": "melee attack 1",
      "message": "Greataxe: {1d20 + prof + str} to hit, {1d12} slashing",
      "section": "actions"
    },
    {
      "name": "melee attack 2 (finess)",
      "message": "Shortsword: {1d20 + @:max(str,dex):} to hit, {1d4 + @:max(str,dex):} piercing",
      "section": "actions"
    },
    {
      "name": "ranged weapon example",
      "message": "Rapier: {1d20 + prof + @:max(str,dex):} to hit, {1d8 + @:max(str,dex):} piercing",
      "section": "actions"
    }
  ]
}
